.programDetails {
  position: absolute;
  top: 0;
  left: 0;
  padding: 80px; 
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.programDetails img {
  width: 200px; 
  height: 200px;  
  border-radius: 50%;
  margin-bottom: 60px;
}

.programDetails div {
  margin-bottom: 5px;
  align-self: flex-start;
}

.programDetails div p {
  margin: 0;
  text-align: left; 
}
