/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');


:root {
  --primary: #7AB6DA;
  --secondary: #1f2132;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}

.loading{
  cursor:progress;
}

.loading button:disabled{
  background-color: grey;
}

.accessDenied{
  display: flex;
  justify-content: center;
}

.header {
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(72,72,72,1) 28%, rgba(124,124,124,1) 50%, rgba(125,125,125,1) 70%, rgba(69,69,69,1) 100%);
}

#transparent-header{
  background: rgba(66, 66, 66, 0.5);

}

header .container {
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
}
header a {
  color: #333;
  text-decoration: none; 
  z-index: 1;
}

header #main{
  color: white
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}


label, input {
  display: block;
}

form.passwordChange input, form.changeDetails input, form.signup input, form.login input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

form button, .filters button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  transition: all 0.3s ease-out; /* Átmenet minden tulajdonságra */
  cursor: pointer;
}

form button:hover, .filters button:hover {
  background-color: transparent;
  color: var(--primary);
  border-radius: 30px;
  border: 2px solid var(--primary);
}

div.success {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--primary);
  color: var(--primary);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}

/* navbar */
nav {

  display: flex;
  flex-direction: row;
  align-items: center;
}
nav a {
  margin-left: 10px; 
  mix-blend-mode:hard-light;

}

nav a h1 {
  margin: 0;
  transition: all 0.3s ease-out; /* Átmenet minden tulajdonságra */
  position: relative;
}

nav a h1:hover{
  color: #fff;
}

nav a h1::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
 
  background-color: #fff;
  transition: width 0.3s ease-out;
}

nav a h1:hover::before {
  width: 100%;
  
}

nav a h1:after {
  color: white
}

nav img {
  width: 50px;
}

nav .profile {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

nav .dropdown-menu {
  border: 1px solid black;
  padding: 5px;
  border-radius: 6px;
  width: max-content;
  background-color:var(--secondary);
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 100%;
  right: 0;
  z-index: 1;

}

nav .dropdown-menu div {
  display: flex;
  flex-direction: column;
}

nav .dropdown-menu div a:hover{
  background-color: #343854
}

nav .dropdown-menu div p{
  margin: 0;
  margin-top: 20px;
  border-bottom:1px solid black ;
  border-bottom-style:dashed;
  font-size: 15px;
  color: rgb(114, 114, 114);
}

nav .dropdown-menu div a{
  color: #fff;
  margin-left: 0;

}

nav .dropdown-menu #signout{
  background-color:var(--secondary);
  border: 1px solid var(--error);
  color: var(--error);
  transition: all 0.3s ease-out; /* Átmenet minden tulajdonságra */

}

nav .dropdown-menu #signout:hover{
  background-color: var(--error);
  color: #fff;
}

.arrow {
  height: 10px;
  width: 10px;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  margin-left: 5px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

nav button {
  background: var(--primary);
  color: #fff;
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
}


nav .signupContainer {
  display: flex;
}

nav .signupContainer .register {
  padding: 6px 10px;
  border: 2px solid var(--primary);
  transition: all 0.3s ease-out; /* Átmenet minden tulajdonságra */
}

nav .signupContainer .register:hover {
  padding: 6px 18px;
  background-color: transparent;
  color: #fff;
  border-radius: 4px;
  border: 2px solid var(--primary);
}

nav .login {
  color: #fff;
  height: max-content;
  text-decoration: underline;
  margin: 0;
  margin-top: auto;
}

/* auth forms */
form.signup, form.login, form.passwordChange, form.changeDetails {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius:10px;
  box-sizing: border-box;
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background:var(--secondary);
  color: white;
  border-radius: 4px;
}

form.signup input, form.login input, form.passwordChange input, form.changeDetails input {
  color: white;
  border: 1px solid white;
  background-color: var(--secondary);
}

form.changeDetails {
  max-width: max-content;

}

form.changeDetails div {
  display: flex;
  justify-content: space-between;
}

.about-container {
  margin: 0;
  background-color: var(--primary) ;
  width: 100%;
  height: 400px
}

.main {
  width: 100%;
  height: 100vh;
}

video {
  z-index: -1;
  position: absolute;
  top:0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*background-color: #1f2132;*/
}

.main h1 {
  mix-blend-mode: difference;
}

.addProgram-container h2{
border-bottom  : 1px solid var(--secondary);
text-align: center;
display: flex;
justify-content: center;
align-items: center;
background-color: var(--primary);
height: 10vh;
margin: 0;
}

form.addProgram {
  font-size: 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  background-color: #cbe9ff;
}

form.addProgram div {
  color: white;
  border-radius: 30px;
  margin: 10px;
  background-color: var(--secondary);
  border: 1.8px solid black;
}


form.addProgram input, form.addProgram textarea, form.addProgram select {
  border-radius: 20px;
  background-color: rgb(230, 230, 230);
}

form.addProgram select {
  padding: 10px;
  margin-bottom: 5px;
}

form.addProgram #name {
  
  grid-column: span 3;
  align-items: center;
  display: flex;
  justify-content: center;
}

form.addProgram #name input {
  width: 10vw;
  height: 3vh;
}


form.addProgram #description {
  grid-column: span 3;
  resize: none;
  align-items: center;
  display: flex;
  justify-content: center;
}

form.addProgram #description textarea{
  width: 30vw;
  height: 10vh;
  margin: 15px;
  padding: 5px;
}

form.addProgram #price {
  display: flex;
  flex-direction: column;
  grid-column: span 2;
  align-items: center;
  display: flex;
  justify-content: center;
}

form.addProgram #img {
  display: flex;
  flex-direction: column;
  grid-column: span 2;
  align-items: center;
  display: flex;
  justify-content: center;
}

form.addProgram #img input[type = "file"]{
  border-radius: 4px;
  background-color: transparent;
}

form.addProgram #img input::file-selector-button{
    background: var(--primary);
    border: 0;
    color: #fff;
    padding: 10px;
    font-family: "Poppins";
    border-radius: 4px;
    transition: all 0.3s ease-out; /* Átmenet minden tulajdonságra */
    cursor: pointer;

}

form.addProgram #img input::file-selector-button:hover{
  background-color: transparent;
  color: var(--primary);
  border-radius: 30px;
  border: 2px solid var(--primary);
}


form.addProgram #persons{
  display: flex;
  flex-direction: column;
  grid-column: span 2;
  align-items: center;
  justify-content: center;
}

form.addProgram #persons #max {
  margin-bottom: 15px;
}

form.addProgram #location{
  display: flex;
  flex-direction: column;
  grid-column: span 3;
  align-items: center;
  justify-content: center;
}

form.addProgram #themes{
  display: flex;
  flex-direction: column;
  grid-column: span 3;
  align-items: center;
  justify-content: center;
}

form.addProgram #addedHours,form.addProgram #themes div {
  border: none;
}

form.addProgram #themes select{
  width: 25%;
  height: 25vh;
}

form.addProgram #themes div{
  display: flex;
}

form.addProgram #date{
  display: flex;
  flex-direction: row;
  grid-column: span 6;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

form.addProgram #date #addedHours p{
  display: flex;
  align-items: center;
  justify-content: center;
}

form.addProgram #submitButton {
  display: flex;
  grid-column: span 6;
  align-items: center;
  justify-content: center;
}

form.addProgram #submitButton button{
  width: 20vw;
}

.error {
  text-align: center;
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
}

.program-container {
  text-align: center;
  display: flex;
}

.filters {
  text-align: center;
  align-items: center;
  background-color: var(--secondary);
  width: 25%;
  top: 0;
  left: 0;
  z-index: 0;
}

.filters .buttons{
  margin-top: 3vh;
  display: flex;
  justify-content: space-around;
  height: 4vh;
}

.filters .buttons button {
  width: 6vw;
}

.filters .themes div{
  display: flex;
}

.filters .themes{
  box-shadow: -10px 10px 24px 0px rgba(0,0,0,0.69) inset;
  -webkit-box-shadow: -10px 10px 24px 0px rgba(0,0,0,0.69) inset;
  -moz-box-shadow: -10px 10px 24px 0px rgba(0,0,0,0.69) inset;
  border: solid 1px black;

  display: flex;
  flex-direction: column;
  background-color: var(--primary);
  height: 25vh;
  width: 15vw;
  margin: auto;
  margin-top: 3vh;
  border-radius: 15px;
  overflow-y: scroll;
}

.filters .themes input{
  width: max-content;
}

.filters .persons, .filters .price, .filters .dates, .filters .location {
  color: white;
  margin-top: 3vh;
}

.filters .persons input, .filters .price input, .filters .dates input, .filters .location select {
  font-size: 15px;
  width: 15vw;
  text-align: center;
  margin: auto;
  background-color: var(--primary);
  border: none;
  border-radius: 30px;
}

.programs {
  text-align: center;
  width: 100%;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  overflow-y: scroll;
  height: 88vh;
}

.programs::-webkit-scrollbar {
  width: 15px;
}
.filters .themes::-webkit-scrollbar{
  width: 10px;
}
.programs::-webkit-scrollbar-thumb:hover, .filters .themes::-webkit-scrollbar-thumb:hover{
  background-color: #3e4263;
}

.programs::-webkit-scrollbar-thumb, .filters .themes::-webkit-scrollbar-thumb {
  background-color: var(--secondary); /* scrollbar hüvelykujj színe */
  border-radius: 5px; /* scrollbar hüvelykujj radiális szélessége */
}


.programs h2 {
  grid-column: 1 / -1; 
  height: max-content;
}

.program img {
  width: 80%;
  height: 80%;
  border-radius: 30px;
}

.program {
  margin-top: 0;
  margin-left: 20px;
  margin-right: 20px;
  height: max-content;
  border: 1px solid var(--secondary);
  border-radius: 30px;
  overflow: hidden;
  background-color: var(--primary);
}

.program .programDetails{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.program .programDetails div{
  border: 1px solid black;
  background-color: var(--secondary);
  width:100% ;
  color: white;
}

