body {
    background-color: #ccc;
  }
  
  .forgotPasswordForm {
    width: 300px;
    text-align: center;
    background-color: var(--secondary);
    margin-top: 200px;
    margin-left: 600px;
    width: 300px;
    height: 150px; 
    border-radius: 5px;
  }
  
  .forgotPasswordForm label {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #fff;
  }
  
  .forgotPasswordForm input[type="email"] {
    width: 200px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: var(--secondary);
    color: #fff;
    margin-left: 35px;
  }
  
  .forgotPasswordForm button {
    padding: 10px 20px;
    background-color: #7AB6DA;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .forgotPasswordForm button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .forgotPasswordForm button:hover {
    background-color: transparent;
  }
  
  .forgotPasswordForm p {
    margin-top: 20px;
  }
  
  .forgotPasswordForm p.error {
    color: red;
  }
  
  .forgotPasswordForm p.success {
    color: green;
  }
  
  .forgotPasswordForm p.remainingTime {
    color: #007bff;
    font-weight: bold;
  }
  